setuptools==65.5.1
tox==1.7.2

coverage==3.7.1

pyflakes==0.8.1
pep8==1.5.7
pep257==0.3.2
pyroma==1.6

sphinx==1.2.2
sphinxcontrib-spelling==2.1.1
pyenchant==1.6.6
sphinxcontrib-blockdiag==1.4.4
sphinxcontrib-seqdiag==0.7.2
doc8==0.3.4
